@import '../../../styles/variables';

.metaPrimary {
    margin-bottom: $spacer;
}

.copyrightHolder {
    color: $brand-grey-light;
    font-size: $font-size-large;
    border-bottom: 1px solid $brand-grey-lighter;
    margin-bottom: $spacer / $line-height;
    padding-bottom: $spacer / $line-height;
}

.metaPrimaryData {
    font-size: $font-size-small;
    color: $brand-grey-light;

    > * {
        display: block;
        white-space: nowrap;
    }

    @media (min-width: $break-point--small) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        > * {
            flex: 0 0 48%;
        }
    }

    @media (min-width: $break-point--medium) {
        > * {
            flex: 0;
        }
    }
}

.description {
    // respect line breaks from textarea
    white-space: pre-line;

    // handle assets where heading are used extensively in the description
    h1 {
        font-size: $font-size-h3;
    }

    h2 {
        font-size: $font-size-h4;
    }

    h3 {
        font-size: $font-size-h5;
    }

    h4,
    h5,
    h6 {
        font-size: $font-size-base;
    }
}

.metaFixed {
    border: 1px solid $brand-grey-lighter;
    padding: $spacer;
    border-radius: $border-radius;
    margin-top: $spacer;
    margin-bottom: $spacer * $line-height;
    font-size: $font-size-small;
    position: relative;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    li {
        width: 100%;
        margin-bottom: $spacer;

        @media (min-width: $break-point--small) {
            display: flex;
            margin-bottom: $spacer / 3;
        }

        &:before {
            display: none;
        }
    }
}

.metaFixedTitle {
    font-size: $font-size-small;
    margin: 0;
    font-family: $font-family-base;
    font-weight: $font-weight-base;
    color: $brand-grey-light;
    position: absolute;
    bottom: $spacer / 4;
    right: $spacer / 4;
}

.metaLabel {
    display: block;

    @media (min-width: $break-point--small) {
        width: 30%;
    }
}

.metaValue {
    display: block;

    &,
    code {
        overflow-wrap: break-word;
    }

    /* stylelint-disable declaration-no-important */
    code {
        display: block;
        padding: 0 !important;
        background: none !important;
    }

    /* stylelint-enable declaration-no-important */

    @media (min-width: $break-point--small) {
        width: 70%;
    }
}
