@import '../../../styles/variables';

.label {
    color: $brand-grey;
    font-size: $font-size-base;
    font-family: $font-family-title;
    line-height: 1.2;
    display: block;
    margin-bottom: $spacer / 6;
}

.required {
    composes: label;

    &:after {
        content: '*';
        font-size: $font-size-base;
        color: $brand-grey-light;
        display: inline-block;
        margin-left: .1rem;
    }
}
