@import '../../styles/variables';

.results {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $spacer;
    max-width: calc(18rem + #{$spacer * 2});
    margin: auto;
    margin-top: $spacer * 2;

    @media (min-width: $break-point--small) {
        margin-left: 0;
        margin-right: 0;
        max-width: none;
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $break-point--medium) {
        grid-template-columns: repeat(3, 1fr);
    }
}
