@import '../../styles/variables';

.header {
	margin-top: $spacer;
	margin-bottom: $spacer;
}

.title {
	margin: 0;
	font-size: $font-size-h2;
	text-align: center;

	@media (min-width: $break-point--small) {
		font-size: $font-size-h1;
	}

	// category image
	+ div:not(.description) {
		margin-bottom: $spacer;
	}
}

.description {
	text-align: center;
	margin-top: $spacer / 2;
	font-size: $font-size-large;
	color: $brand-grey;
}
