@import '../../styles/variables';

.categoryImage {
    height: 4rem;
    background-size: 100%;
    background-position: center;
    margin-bottom: $spacer / $line-height;
    background-color: $body-background;
    border-radius: $border-radius;
    overflow: hidden;
    opacity: .85;
    transition: .2s ease-out;
    border: 1px solid $brand-grey-lighter;
}

.header {
    composes: categoryImage;
    height: 8rem;
    margin-top: $spacer / $line-height;
}

.dimmed {
    composes: categoryImage;
    opacity: .6;
}
