@import '../../../styles/variables';

.itemForm {
    margin-top: $spacer / 2;
    border: 1px solid $brand-grey-lighter;
    border-radius: $border-radius;
    padding: $spacer / 2;
    background: $body-background;

    button {
        margin-top: -($spacer * 2);
    }
}

.error {
    font-size: $font-size-small;
    color: $red;
    margin-left: $spacer / 4;
}
