@import '../../styles/variables';

.openLink {
    font-size: $font-size-small !important; // stylelint-disable-line
    margin-left: $spacer / 2;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button {
    flex: 0 0 100%;
    background: $brand-white;
    border: 1px solid $brand-grey-lighter;
    border-radius: $border-radius;
    line-height: 1.5;
    padding: $spacer / 1.5;
    font-family: $font-family-base;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: left;
    cursor: pointer;
    transition: border .2s ease-out;
    margin-bottom: $spacer;
    position: relative;

    @media (min-width: $break-point--small) {
        flex-basis: 48%;
        margin-bottom: 0;
    }

    &:hover,
    &:focus {
        border-color: $brand-pink;
    }
}

.buttonActive {
    composes: button;
    pointer-events: none;
    background: $body-background;
}

.selected {
    position: absolute;
    right: $spacer / 3;
    top: $spacer / 4;
    color: $brand-grey-light;
    font-weight: $font-weight-bold;
}

.buttonIcon {
    font-size: $font-size-h4;
    display: inline-block;
    margin-right: $spacer / 4;
}

.buttonTitle {
    font-size: $font-size-base;
    margin-bottom: $spacer / 2;
    font-weight: $font-weight-bold;
    margin-top: 0;
}

.buttonDescription {
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    color: $brand-grey-light;
}
